<h1>Favorites Boooks</h1>

<div class="recomended">
   
   <div class="rec-books" *ngFor="let book of newLIst">
      <img class="rec-books-img" [src]="book.volumeInfo.imageLinks.smallThumbnail" alt="images">
       <ul >
          <li>{{book.volumeInfo.title}}</li>
          <li class="author">{{book.volumeInfo.authors}} | {{book.volumeInfo.publishedDate }}</li>  
          <li>Rating  - {{book.volumeInfo.averageRating}}/5</li>
          <li class="description">{{book.volumeInfo.description}}</li>
          
       </ul>        
      
   </div>
</div>